@page
@model CMCS.Areas.Identity.Pages.Account.ForgotPasswordModel

<form method="post">
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
    </div>
    <button type="submit">Reset Password</button>
</form>
